
.guide {
    display: grid;
    grid-template-columns: 104px 1fr;
    height: 400px;
    overflow-y: scroll;

}

.header {
    grid-column-start: 2;
    grid-row-start: 1;
    height: fit-content;
}
.channelContainer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 2;
}
.container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    grid-column-start: 2;
    grid-row-start: 2;
}

.guideRow {
    display: flex;
    position: relative;
    height: 78px;
    margin-top: 1px;
}

.event {
    position: relative;
    display: flex;
    flex-direction: column;
}

.eventTitle {
    font-weight: bold;
}
.time {
    font-weight: bolder;
}

.nowLine {
    position: absolute;
    height: 1000vh;
    border-left: 4px solid green;
    /* width: 6px; */
    z-index: 2;
}

.channelTitle {
    height: 78px;
    width: 100px;
    padding-bottom: 2px;
}