
.container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;

}

.guideRow {
    display: flex;
    position: relative;
    height: 80px;
}

.event {
    position: relative;
    display: flex;
    flex-direction: column;
}

.eventTitle {
    font-weight: bold;
}
.time {
    font-weight: bolder;
}

.nowLine {
    position: absolute;
    height: 300px;
    border-left: 4px solid green;
    /* width: 6px; */
    z-index: 2;
}